@model ETicaretApp.Models.Urun
@{
    ViewBag.Title = "Add";
}

<h2 class="h2 text-center mt-2">Ürün Ekleme Sayfası</h2>
<hr />
<div style="margin-left: 10px;">
    @using (Html.BeginForm("Add", "Urun", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="row">
            <div class="col-md-4">
                <label><span class="h4">Ürün Adı</span></label>
                @Html.TextBoxFor(c => c.UrunAdi, new { @class = "form-control mt-3", @style = "width:300px;" })
                @Html.ValidationMessageFor(c => c.UrunAdi, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label><span class="h4">Fiyatı</span></label>
                @Html.TextBoxFor(c => c.Fiyati, new { @class = "form-control mt-3", @style = "width:300px;" })
                @Html.ValidationMessageFor(c => c.Fiyati, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label><span class="h4">Bedeni</span></label>
                @Html.TextBoxFor(c => c.Bedeni, new { @class = "form-control mt-3", @style = "width:300px;" })
                @Html.ValidationMessageFor(c => c.Bedeni, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label><span class="h4">Markası</span></label>
                @Html.DropDownListFor(c => c.MarkaId, (List<SelectListItem>)ViewBag.markalar, new { @class = "form-control mt-3", @style = "width: 300px;" })
                @Html.ValidationMessageFor(c => c.MarkaId, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label><span class="h4">Kategorisi</span></label>
                @Html.DropDownListFor(c => c.KategoriId, (List<SelectListItem>)ViewBag.kategoriler, new { @class = "form-control mt-3", @style = "width: 300px;" })
                @Html.ValidationMessageFor(c => c.KategoriId, null, new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-2" style="width: 200px;">Ekle</button>
        </div>
    }
</div>

