@model ETicaretApp.Models.Musteri
@{
    ViewBag.Title = "Update";
}

<h2 class="h2 text-center mt-2">Müşteri Ekleme Sayfası</h2>
<hr />
<div style="margin-left: 10px;">
    @using (Html.BeginForm("Update", "Musteri", FormMethod.Post,new{@id="musteriGuncelleForm"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(c => c.Id)
        <br />
        <div class="row">
            <div class="col-md-4">
                <label><span class="h4">Ad</span></label>
                @Html.TextBoxFor(c => c.Ad, new { @class = "form-control mt-3", @style = "width:300px;" })
                @Html.ValidationMessageFor(c => c.Ad, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label><span class="h4">Soyad</span></label>
                @Html.TextBoxFor(c => c.Soyad, new { @class = "form-control mt-3", @style = "width:300px;" })
                @Html.ValidationMessageFor(c => c.Soyad, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label><span class="h4">TC Kimlik No</span></label>
                <input class="form-control" id="Tckn" name="Tckn" value="@Model.Tckn" style="width: 300px;"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label><span class="h4">Unvan</span></label>
                @Html.TextBoxFor(c => c.Unvan, new { @class = "form-control mt-3", @style = "width:300px;" })
                @Html.ValidationMessageFor(c => c.Unvan, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label><span class="h4">Mail</span></label>
                @Html.TextBoxFor(c => c.Mail, new { @class = "form-control mt-3", @style = "width: 300px;" })
                @Html.ValidationMessageFor(c => c.Mail, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label><span class="h4">Telefon</span></label>
                <input class="form-control" id="Telefon" name="Telefon" value="@Model.Telefon" style="width: 300px;" />
            </div>
        </div>
        <br />
        <div class="row d-flex justify-content-center">
            <a class="btn btn-primary mt-2" onclick="$ekleBtn()" style="width: 200px;">Güncelle</a>
        </div>
    }
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $ekleBtn = function () {
        var tclen = document.getElementById('Tckn').value.length;
        var tellen = document.getElementById('Telefon').value.length;
        if (tclen === 11 && tellen === 11) {
            $("#musteriGuncelleForm").submit();
        } else {
            swal("Doğrulama Hatası", "TC Kimlik NO / Telefon alanları 11 haneden oluşmak zorundadır.", "error");
        }
    }
</script>


